/*  Variables  */
/*  Extends  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.team-member, .work-img, .features-img {
  background-repeat: no-repeat !important;
}

.team-member {
  width: 100%;
  height: 300px;
}

.work-img {
  width: 100%;
  height: 250px;
}

.features-img {
  width: 100%;
  height: 250px;
}

/*  Fonts  */
@font-face {
  font-family: "Quattrocento Sans Bold";
  src: local("Quattrocento Sans Bold"), local("Quattrocento-Sans-Bold"), url("fonts/QuattrocentoSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Quattrocento Sans BoldItalic";
  src: local("Quattrocento Sans BoldItalic"), local("Quattrocento-Sans-BoldItalic"), url("fonts/QuattrocentoSans-BoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Quattrocento Sans Italic";
  src: local("Quattrocento Sans Italic"), local("Quattrocento-Sans-Italic"), url("fonts/QuattrocentoSans-Italic.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Quattrocento Sans Regular";
  src: local("Quattrocento Sans Regular"), local("Quattrocento-Sans-Regular"), url("fonts/QuattrocentoSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

/*  General Style  */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

h1,
.h1 {
  font-size: 2.5rem !important;
  font-weight: 400 !important;
  letter-spacing: 1.5px;
}

h2,
.h2 {
  font-size: 1.75rem !important;
  font-weight: 400 !important;
  letter-spacing: 1.5px;
}

h3,
.h3 {
  font-size: 1.5rem !important;
  font-weight: 400 !important;
  letter-spacing: 1.5px;
}

h4,
.h4 {
  font-size: 1.25rem !important;
  font-weight: 400 !important;
  letter-spacing: 1px;
}

h5,
.h5 {
  font-size: 1rem !important;
  font-weight: 400 !important;
  letter-spacing: 1px;
}

h6,
.h6 {
  font-size: 0.75rem !important;
  font-weight: 400 !important;
  letter-spacing: 1px;
}

.container {
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.z-index {
  z-index: 999 !important;
}

/*  Navigation Style  */
.navbar {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.navbar-logo {
  vertical-align: inherit;
  width: 100px;
  height: 20px;
}

.navbar-nav li {
  font-family: "Quattrocento Sans";
  font-weight: 600;
}

.nav-link {
  padding: 0.35rem 0.5rem !important;
}

.active {
  color: #35c4af !important;
}

nav a {
  font-size: 14px !important;
}

/*  Carousel  */
.carousel {
  margin-top: 4rem;
}

.btn-carousel {
  padding: .25rem .5rem !important;
  font-size: .875rem !important;
  border-radius: .2rem !important;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.carousel-caption {
  position: relative !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  display: block;
  width: 100%;
  height: 17.5rem;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
  padding-top: 2rem !important;
  -webkit-transition: none !important;
  transition: none !important;
}

.carousel-item {
  background-image: url(../Images/header.jpg);
  background-size: 200% 17.5rem;
  background-position-x: 60%;
  background-repeat: no-repeat;
}

.carousel-indicators {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
  margin-right: 10% !important;
}

.carousel-indicators [data-bs-target] {
  width: 15px !important;
  height: 15px !important;
  opacity: 1 !important;
  background-color: rgba(255, 255, 255, 0) !important;
  border: 3px solid #b4b4b4 !important;
  border-radius: 15px !important;
}

.carousel-indicators .active {
  background-color: #fff !important;
  opacity: 1 !important;
}

/*  We are Modest - Section  */
/*  Meet the team - Section  */
.team-member {
  background-size: cover !important;
  background-position: center !important;
}

.team-member.team-member-1 {
  background: url(../Images/team_image1.jpg);
}

.team-member.team-member-2 {
  background: url(../Images/team_image2.jpg);
}

.team-member.team-member-3 {
  background: url(../Images/team_image3.jpg);
}

.team-member.team-member-4 {
  background: url(../Images/team_image4.jpg);
}

.team-member-info {
  background-color: #dadada;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.team-member-info:hover {
  background-color: #353646;
  color: #fff !important;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

/*  Lovely work - Section  */
.bg-indigo {
  background-color: #3b454e;
}

.work-img {
  background-size: cover !important;
}

.work-img.work-img-1 {
  background: url(../Images/work_image1.jpg);
}

.work-img.work-img-2 {
  background: url(../Images/work_image2.jpg);
}

.work-img.work-img-3 {
  background: url(../Images/work_image3.jpg);
}

.work-img.work-img-4 {
  background: url(../Images/work_image4.jpg);
}

.work-img.work-img-5 {
  background: url(../Images/work_image5.jpg);
}

.work-img.work-img-6 {
  background: url(../Images/work_image6.jpg);
}

/*  What we do - Section  */
#whatwedo i {
  font-size: 50px;
  color: #23b7a4;
}

/*  Features - Section  */
.features-img.features-img-1 {
  background: url(../Images/feature_img1.jpg);
}

.features-img.features-img-2 {
  background: url(../Images/feature_img2.jpg);
}

.features-img.features-img-3 {
  background: url(../Images/feature_img3.jpg);
}

/*  Stay in touch - Section  */
.contact-form {
  background-color: #fff;
  margin-top: 0px;
}

.contact-form button {
  background-color: #35c4af;
  border: #35c4af;
}

.contact-form button:hover {
  background-color: #268a7b;
  border: #268a7b;
}

.contact-form input,
.contact-form textarea {
  background-color: #ececec;
  border: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #ececec;
}

/*  Footer  */
#footer a {
  color: #fff;
}

/*  Media  */
@media screen and (min-width: 576px) {
  .carousel-caption {
    height: 20rem;
    padding-top: 7.5rem !important;
    -webkit-transition: ease-in-out 0.4s;
    transition: ease-in-out 0.4s;
  }
  .carousel-item {
    background-size: 150% 20rem;
    background-position-x: -150px;
  }
}

@media screen and (min-width: 768px) {
  .carousel-caption {
    height: 22.5rem;
    padding-top: 10rem !important;
    -webkit-transition: ease-in-out 0.4s;
    transition: ease-in-out 0.4s;
  }
  .carousel-item {
    background-size: 125% 22.5rem;
    background-position-x: -75px;
  }
  .btn-carousel {
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    border-radius: .25rem !important;
    -webkit-transition: ease-in-out 0.4s;
    transition: ease-in-out 0.4s;
  }
  .contact-form {
    margin-top: -200px;
  }
}

@media screen and (min-width: 992px) {
  .carousel-caption {
    height: 25rem;
    padding-top: 12.5em !important;
    -webkit-transition: ease-in-out 0.4s;
    transition: ease-in-out 0.4s;
  }
  .carousel-item {
    background-size: 100% 25rem;
    background-position-x: 0;
  }
}

@media screen and (min-width: 1200px) {
  .carousel-caption {
    height: 27.5rem;
    padding-top: 15rem !important;
    -webkit-transition: ease-in-out 0.4s;
    transition: ease-in-out 0.4s;
  }
  .carousel-item {
    background-size: 100% 27.5rem;
  }
}
/*# sourceMappingURL=style.css.map */